/* general CSS Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
}
ul li {
    list-style-type: none;
}
/* end General CSS Rules */

/* NavTop */
.container {
    width: 87%;
    margin: 0 auto;
}
.top-navbar {
    background-color: #F5FAFE;
    color: #333;
}
.top-navbar span {
    font-size: 10px;
}
.top-navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.top-navbar__awards {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.top-navbar__awards--detail,
.top-navbar__content--detail {
    display: flex;
    align-items: center;
}
.top-navbar__awards--detail i {
    margin-right: 10px;
}
/* end NavTop */

/* main Navbar */
.main-nav {
    background-color: #fff;
    height: 120px;
    display: flex;
    align-items: center;
}

.main-nav__logo p {
    font-size: 24px;
    font-family: 'Luckiest Guy', cursive;
}
.main-nav__logo span {
    color: #EC1F46;
}

.main-nav__input {
    border: 1px solid #ccc;
    border-radius: 7px;
    display: flex;
    background-color: #F5FAFE;
}
.main-nav__input input {
    border: none;
    margin: 10px;
    font-family: 'Mulish', sans-serif;
    width: 250px;
    background-color: #F5FAFE;
}
.main-nav__input i {
    background-color:#EC1F46;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #fff;
    padding: 10px 20px;
}
.main-nav__shop {
    position: relative;
}
.main-nav__shop i {
    font-size: 25px;
}
.main-nav__shop--circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#EC1F46;
    color: #fff;
    position: absolute;
    top: -7px;
    right: -12px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
.main-nav__profile {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar bottom */
.navbar-bottom {
    background-color: #0A223D;
    height: 80px;
    display: flex;
    align-items: center;
}
.navbar-bottom a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.navbar-bottom__menu {
    display: flex;
    justify-content: space-between;
}
.breadcrumb {
    height: 60px;
    background-color: #F5FAFE;
    display: flex;
    align-items: center;
}
.breadcrumb span {
    font-size: 10px;
}
